page-about-user {
	.about-user
	{
	    min-height: 35%;
	    position: relative;
		background: white;	
	}

	.about-user h1
	{
		text-align: center;
        font-size: 20pt;
        margin-bottom: 20px;
        padding-top: 20px;
	}

	.about-user-detail p
	{
		text-align: left;
        font-size: 14pt;
	}

	.about-user-detail img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
