<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="about-user">
	<h1>Details</h1>
	<div class="about-user-detail"> 
		<img *ngIf="Projects.avatar_url" [src]="Projects.avatar_url">
		<p>Name - {{Projects.name}}</p>
		<p>Username - {{Projects.username}}</p>
		<p>Id - {{Projects.id}}</p>
		<p>Gitlab Url - <a href="{{Projects.web_url}}">{{Projects.web_url}}</a></p>
		<p>Location - {{Projects.location}}</p>
		<p>Linkedin - <a href="{{Projects.linkedin}}">{{Projects.linkedin}}</a></p>
		<p>Bio - {{Projects.bio}}</p>
	</div>
</ion-content>
