<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h1>Enter Username or Id</h1>
	<form (ngSubmit)="goToHomePage(id,password)">
        <ion-item>
		    <ion-label color="primary" floating>User ID</ion-label>
	        <ion-input type="text" [(ngModel)]="id" name="id"></ion-input>
  		</ion-item>
  	  	<ion-item>
        	<ion-label color="primary" floating>Password</ion-label>
        	<ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      	</ion-item>
      <button ion-button type="submit" block>Submit</button>
    </form>
</ion-content>
