page-about-project {

	.about-project
	{
	    min-height: 35%;
	    position: relative;
		background: white;	
	}


	.about-project h1
	{
		text-align: center;
        font-size: 20pt;
	}

	.about-project p
	{
		text-align: center;
        font-size: 14pt;
	}

	.about-project-details p
	{
		text-align: left;
        font-size: 14pt;
	}
}
