<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Project</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="about-project">
	<h1>About this Project</h1>
	<p> {{Projects.description}}</p>
	<div class="about-project-details">
		<p>ID - {{Projects.id}}</p>
		<p>Created At - {{Projects.created_at}}</p>
		<p>Repo url - <a href="{{Projects.http_url_to_repo}}">{{Projects.http_url_to_repo}}</a></p>
	</div>
</ion-content>
