<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="project-list-details">
    <h1>My Projects List</h1>
    <ion-list class="project-list">
        <button ion-item *ngFor ="let project of Projects" (click)="goToProjectPage(project.id);">
            {{project.name}}
        </button>
    </ion-list>
</ion-content>
