page-home {	

  .project-list-details
  {
    min-height: 35%;
    position: relative;
	background: white;	
  }

  .project-list-details h1
	{
	  	text-align: center;
        font-size: 20pt;
        margin-bottom: 20px;
        padding-top: 20px;
    }

   .project-list
   {
   		font-size: 12pt;
   }
}
